{% extends "account.html" %}
{% block dashboard_content %}

<div class="container">

    {% if order_items|length == 0 %}
    <p class="text-center text-muted fs-3">No products to Ship.</p>

    {% else %}

    {% for item in order_items | reverse %}
    <div class="card mb-5 position-relative">
        <!-- Order Status Badge -->
        <span class="badge {% if item.status == 'Preparing to Shipped' %} text-bg-primary {% elif item.status == 'In Transit' %} text-bg-info {% else %} text-bg-warning {% endif %} position-absolute p-2" style="top: 8px; right: 10px;">
            {{ item.status }}
        </span>

        <!-- Shop Info -->
        <div class="card-header d-flex align-items-center gap-3">
            <strong>
                {% if item.seller.shop_name %}
                    {{ item.seller.shop_name }}
                {% else %}
                    UNKNOWN SELLER
                {% endif %}
            </strong>
            {% if item.product %}
                <a href="{{ url_for('chat_with_seller', seller_id=item.product.seller.user.id) }}" class="btn btn-primary me-2">Chat</a>
            {% else %}
                <p>Product not available</p>
            {% endif %}
                
            <a class="btn btn-outline-secondary" href="{{  url_for('seller_page', seller_id=item.seller.id) }}">View Shop</a>
        </div>
        
        <!-- Item Info -->
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <img src="{{ url_for('static', filename='profile_pics/' + item.product.images[0].image_path) }}" alt="Product Image" width="100" height="100">
                </div>
                <div class="col-md-6">
                    <!-- <p class="mb-1 product-name fs-4"><strong>{{ item.product.name }}</strong></p> -->
                    <a class="mb-1 product-name fs-3 fw-bold" href="{{ url_for('order_detail', order_id=item.order.id) }}">{{ item.product.name }}</a>

                    <p class="mb-1 text-muted fs-4"><small>Variation: {{ item.color }} / {{ item.size }} </small></p>
                </div>
                <div class="col-md-2 text-center ml-auto">
                    <p class="current-price fs-2 fw-bold"><strong>₱{{ item.price | round (2) }} x {{ item.quantity }}</strong></p>
                </div>
            </div>
        </div>
        
        <!-- Payment Info -->
        <div class="card-footer d-flex justify-content-between align-items-center bg-white">
            <span class="amount-payable">Total Amount for Order: <strong>₱{{ order_totals[item.order.id] | round(2)}}</strong></span>
     
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>

{% endblock %}
